@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>

        @foreach(var topic in @Model.ApiResponse.significantLink)
        {
            <div>
                <a href="@topic.url"><p>@topic.name</p></a>
                <p>@topic.description</p>
            </div>
        }

    <div>
        <img src="@Model.ApiResponse.author.logo" />
    </div>
</div>
